.ser-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #010606;
}
.ser-h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 64px;
}

.ser-wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 16px;
  padding: 0 50px;
}

.ser-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  max-height: 340px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.ser-card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ser-img {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
}
.ser-h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.ser-p {
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .ser-container {
    height: 1100px;
  }
  .ser-wrap {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  .ser-h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .ser-container {
    height: 1300px;
  }
}
